.slider {
  position: relative;
  display: flex;
  align-items: center;
  max-height: 800px;
  overflow: hidden;
}

.slider__button {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 4px;
  font-size: 2rem;
  color: var(--white);
  background-color: rgba(32, 32, 32, 0.5);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.15s linear;
  z-index: 10;
}

.slider__button--left {
  left: 24px;
}

.slider__button--right {
  right: 24px;
}

.slider__button:hover {
  background-color: rgba(20, 20, 20, 0.5);
}

.slider__container {
  display: flex;
}

.slider__image {
  transition: transform 1s ease;
}
