.details {
  width: 60%;
  margin: 0 auto 5em;
  text-align: left;
  color: var(--grey-color);
}

.details img {
  width: 100%;
  min-height: 350px;
}

.details__bar,
.details__info {
  position: relative;
  top: -6px;
}

.details__bar {
  background-color: var(--gold-color);
  height: 2px;
}

.details__info {
  padding: 0 2em 1em;
  background-color: var(--grey-dark);
}

.details__info h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1em;
  font-size: 2rem;
  color: var(--white);
}

.details__starship {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.details__section {
  padding-right: 1em;
}

.details__data {
  margin: 1em 0;
  & span {
    color: var(--orange-color);
    font-weight: 500;
  }
}

.section__header {
  font-size: 2rem;
}

.section__empty {
  width: 60%;
  height: 100px;
  margin: 0 auto;
  padding: 1em;
  background-color: var(--black);
}
