.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
}

.modal__container {
  position: relative;
  max-width: 540px;
  width: 100%;
  padding-bottom: 40px;
  background-color: var(--background-modal);
}

.modal__logo {
  margin: 30px 0 10px;
}

.modal__title {
  margin: 0 0 12px;
  color: var(--yellow-modal);
  font-size: 1.656rem;
  text-transform: uppercase;
  font-weight: normal;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
  color: var(--grey-color);
}

.modal__list {
  height: 0px;
  text-align: left;
  color: var(--yellow-modal);
  list-style: initial;
  padding-left: 1.2em;
  font-size: 0.8rem;
  opacity: 0;
  transition: height 0.35s;
}

.modal__list--show {
  height: 60px;
  opacity: 1;
}

.modal__show {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 1em;
  background-color: var(--background-modal);
}

.modal__checkbox {
  margin: 0 0.5em 0 0;
  position: relative;
  width: 1.4rem;
  height: 1.4rem;
}

.modal__checkbox + label {
  padding-top: 5px;
}

.modal__submit,
.modal__account {
  height: 40px;
  padding: 0 18px;
  border-radius: 3px;
  font-size: 1rem;
}

.modal__submit {
  background-color: var(--grey-modal);
  color: var(--white);
  transition: background-color 0.3s ease;
}

.modal__submit:hover {
  background-color: var(--blue-modal);
}

.modal__help {
  margin: 5px 0 30px;
  text-align: right;
}

.modal__help a {
  color: var(--yellow-modal);
}

.modal__help a:hover {
  text-decoration: underline;
}

.modal__account {
  background-color: transparent;
  color: var(--yellow-modal);
}

.modal__account:hover {
  border: 1px solid var(--yellow-modal);
}

.modal__footer a {
  color: var(--yellow-modal);
}

.modal__footer a:hover {
  text-decoration: underline;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 38px;
  width: 38px;
  background-color: transparent;
  color: var(--white);
  opacity: 0.2;
  z-index: 1;
}

.modal__close ion-icon {
  font-size: 2.5rem;
}

.modal__close:hover {
  opacity: 1;
}
