.container {
  background-color: #000;
  background-image: url("../../assets/images/pexels-aleksandar-pasaric-1694000.jpg");
  background-size: cover;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 10px;
  max-width: 1400px;
  height: 134px;
}

.header__logo {
  width: auto;
  height: 100%;
}
