.App {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

main {
  margin: 190px auto 0;
  padding-top: 2em;
  background-image: url("./assets/images/pexels-aleksandar-pasaric-1694000.jpg");
  background-attachment: fixed;
}
