:root {
  --white: #fff;
  --grey-color: #7a7a7a;
  --grey-dark: #242424;
  --black: #000;
  --border-color: #333;
  --gold-color: #dcae50;
  --blue-color: #016cf9;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Stars";
  src: url("./fonts/star.woff") format("woff");
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: Stars, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  color: var(--white);
}

a {
  color: var(--grey-color);
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
