@font-face {
  font-family: "Stars";
  src: url("./fonts/star.woff") format("woff");
}

body {
  margin: 0;
  font-family: Stars, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
